*{
    box-sizing: border-box;
}
 .navbar{
    display: inline-block;
    margin-right: 20px;
    color: #3D58A6;
    font-family:"BPG Nino Mtavruli Bold", sans-serif;
}  
.top-side{
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 20px;
}
.html-logo{
    margin-right: 54px;
}
.mainpage{
    color: #EE4036;
}
.clr{
    color: #3D58A6;
}
.wrapper-div{
    margin-left: 30px;
    margin-top: 34px;
}
.main-picture{
    margin-top: 27px;
}
.text1{
    display: block;
    margin-top: 34px;
    margin-bottom: 30px;
}
.capslock{
    border-right: 1px solid #000000;
    padding-right: 10px
}
.inf{
    padding-left: 10px;
}
.content-box{
    margin-top: 38px;
}
h2{
    color: #3D58A6;
}
.webdesign{
    display: inline-block;
    height: 225px;
    width: 570px;
    background-color: #F2F2F2;
    vertical-align: top;
    margin-right: 89px;
}
.firstlogo{
    display: inline-block;
    height: 145px;
    width: 102px;
    margin-right: 65px;
    margin-top: 13px;
    margin-left: 37px;
}
.firstinfo{
    display: inline-block;
    height: 143px;
    width: 355px;
    vertical-align: middle;
    /* margin-top: 13px; */
}
.development{
    display: inline-block;
    height: 225px;
    width: 570px;
    background-color: #F2F2F2;
    vertical-align: top;
}
.secondlogo{
    display: inline-block;
    height: 127px;
    width: 84px;
    margin-right: 76px;
    margin-top: 21px;
    margin-left: 40px;
}
.secondinfo{
    display: inline-block;
    height: 156px;
    width: 353px;
    vertical-align: middle;
    margin-bottom: 21px;
}
h2{
    margin-top: 11px;
    margin-left: 20px;
}
.div-footer{
    margin-top: 68px;
    margin-bottom: 39px;
}
.flogo{
    border-right: 1px solid #363E97;
    padding-right: 35px;
}
.ylogo{
    margin-left: 31px;
}
